:root {
  --light-primary-0: 0, 0, 0;
  --light-primary-10: 178, 46, 0;
  --light-primary-20: 204, 71, 0;
  --light-primary-30: 229, 97, 0;
  --light-primary-40: 255, 122, 0;
  --light-primary-50: 255, 136, 26;
  --light-primary-60: 255, 149, 51;
  --light-primary-70: 255, 162, 77;
  --light-primary-80: 255, 175, 102;
  --light-primary-90: 255, 189, 128;
  --light-primary-95: 255, 215, 178;
  --light-primary-99: 255, 242, 229;
  --light-primary-100: 255, 255, 255;

  --light-secondary-0: 0, 0, 0;
  --light-secondary-10: 84, 47, 14;
  --light-secondary-20: 109, 73, 39;
  --light-secondary-30: 135, 98, 65;
  --light-secondary-40: 160, 124, 90;
  --light-secondary-50: 170, 137, 107;
  --light-secondary-60: 179, 150, 123;
  --light-secondary-70: 189, 163, 140;
  --light-secondary-80: 198, 176, 156;
  --light-secondary-90: 208, 189, 173;
  --light-secondary-95: 217, 203, 189;
  --light-secondary-99: 236, 229, 222;
  --light-secondary-100: 255, 255, 255;

  --light-tertiary-0: 0, 0, 0;
  --light-tertiary-10: 0, 0, 50;
  --light-tertiary-20: 0, 0, 75;
  --light-tertiary-30: 0, 17, 101;
  --light-tertiary-40: 0, 43, 126;
  --light-tertiary-50: 26, 64, 139;
  --light-tertiary-60: 51, 85, 152;
  --light-tertiary-70: 77, 107, 165;
  --light-tertiary-80: 102, 128, 178;
  --light-tertiary-90: 128, 149, 191;
  --light-tertiary-95: 178, 191, 216;
  --light-tertiary-99: 204, 213, 229;
  --light-tertiary-100: 255, 255, 255;

  --light-error-0: 0, 0, 0;
  --light-error-10: 65, 14, 11;
  --light-error-20: 96, 20, 16;
  --light-error-30: 140, 29, 24;
  --light-error-40: 179, 38, 30;
  --light-error-50: 220, 54, 46;
  --light-error-60: 228, 105, 98;
  --light-error-70: 236, 146, 142;
  --light-error-80: 242, 184, 181;
  --light-error-90: 249, 222, 220;
  --light-error-95: 252, 238, 238;
  --light-error-99: 255, 251, 249;
  --light-error-100: 255, 255, 255;

  --light-success-0: 0, 0, 0;
  --light-success-10: 0, 34, 0;
  --light-success-20: 0, 58, 0;
  --light-success-30: 0, 83, 0;
  --light-success-40: 0, 110, 0;
  --light-success-50: 8, 136, 6;
  --light-success-60: 50, 166, 38;
  --light-success-70: 77, 182, 62;
  --light-success-80: 122, 204, 108;
  --light-success-90: 148, 234, 132;
  --light-success-95: 207, 246, 193;
  --light-success-99: 247, 253, 241;
  --light-success-100: 255, 255, 255;

  --light-neutral-0: 0, 0, 0;
  --light-neutral-10: 53, 44, 36;
  --light-neutral-20: 79, 70, 61;
  --light-neutral-30: 104, 95, 87;
  --light-neutral-40: 115, 110, 105;
  --light-neutral-50: 129, 124, 120;
  --light-neutral-60: 143, 139, 135;
  --light-neutral-70: 157, 153, 150;
  --light-neutral-80: 192, 189, 185;
  --light-neutral-90: 214, 211, 210;
  --light-neutral-95: 228, 228, 228;
  --light-neutral-99: 245, 245, 245;
  --light-neutral-100: 255, 255, 255;

  --light-neutral-variant-0: 0, 0, 0;
  --light-neutral-variant-10: 53, 44, 36;
  --light-neutral-variant-20: 79, 70, 61;
  --light-neutral-variant-30: 104, 95, 87;
  --light-neutral-variant-40: 115, 110, 105;
  --light-neutral-variant-50: 129, 124, 120;
  --light-neutral-variant-60: 143, 139, 135;
  --light-neutral-variant-70: 157, 153, 150;
  --light-neutral-variant-80: 192, 189, 185;
  --light-neutral-variant-90: 214, 211, 210;
  --light-neutral-variant-95: 228, 228, 228;
  --light-neutral-variant-99: 245, 245, 245;
  --light-neutral-variant-100: 255, 255, 255;

  --light-surface-dim: 222, 216, 225;
  --light-surface: 254, 247, 255;
  --light-surface-bright: 254, 247, 255;
  --light-surface-container-lowest: 255, 255, 255;
  --light-surface-container-low: 247, 242, 250;
  --light-surface-container: 243, 237, 247;
  --light-surface-container-high: 236, 230, 240;
  --light-surface-container-highest: 230, 224, 233;
}

body {
  --sys-color-primary-0: var(--light-primary-0);
  --sys-color-primary-10: var(--light-primary-10);
  --sys-color-primary-20: var(--light-primary-20);
  --sys-color-primary-30: var(--light-primary-30);
  --sys-color-primary-40: var(--light-primary-40);
  --sys-color-primary-50: var(--light-primary-50);
  --sys-color-primary-60: var(--light-primary-60);
  --sys-color-primary-70: var(--light-primary-70);
  --sys-color-primary-80: var(--light-primary-80);
  --sys-color-primary-90: var(--light-primary-90);
  --sys-color-primary-95: var(--light-primary-95);
  --sys-color-primary-99: var(--light-primary-99);
  --sys-color-primary-100: var(--light-primary-100);
  --sys-color-primary: var(--light-primary-40);
  --sys-color-on-primary: var(--light-primary-100);
  --sys-color-primary-container: var(--light-primary-90);
  --sys-color-on-primary-container: var(--light-primary-10);

  --sys-color-secondary-0: var(--light-secondary-0);
  --sys-color-secondary-10: var(--light-secondary-10);
  --sys-color-secondary-20: var(--light-secondary-20);
  --sys-color-secondary-30: var(--light-secondary-30);
  --sys-color-secondary-40: var(--light-secondary-40);
  --sys-color-secondary-50: var(--light-secondary-50);
  --sys-color-secondary-60: var(--light-secondary-60);
  --sys-color-secondary-70: var(--light-secondary-70);
  --sys-color-secondary-80: var(--light-secondary-80);
  --sys-color-secondary-90: var(--light-secondary-90);
  --sys-color-secondary-95: var(--light-secondary-95);
  --sys-color-secondary-99: var(--light-secondary-99);
  --sys-color-secondary-100: var(--light-secondary-100);
  --sys-color-secondary: var(--light-secondary-40);
  --sys-color-on-secondary: var(--light-secondary-100);
  --sys-color-secondary-container: var(--light-secondary-90);
  --sys-color-on-secondary-container: var(--light-secondary-10);

  --sys-color-tertiary-0: var(--light-tertiary-0);
  --sys-color-tertiary-10: var(--light-tertiary-10);
  --sys-color-tertiary-20: var(--light-tertiary-20);
  --sys-color-tertiary-30: var(--light-tertiary-30);
  --sys-color-tertiary-40: var(--light-tertiary-40);
  --sys-color-tertiary-50: var(--light-tertiary-50);
  --sys-color-tertiary-60: var(--light-tertiary-60);
  --sys-color-tertiary-70: var(--light-tertiary-70);
  --sys-color-tertiary-80: var(--light-tertiary-80);
  --sys-color-tertiary-90: var(--light-tertiary-90);
  --sys-color-tertiary-95: var(--light-tertiary-95);
  --sys-color-tertiary-99: var(--light-tertiary-99);
  --sys-color-tertiary-100: var(--light-tertiary-100);
  --sys-color-tertiary: var(--light-tertiary-40);
  --sys-color-on-tertiary: var(--light-tertiary-100);
  --sys-color-tertiary-container: var(--light-tertiary-90);
  --sys-color-on-tertiary-container: var(--light-tertiary-10);

  --sys-color-error-0: var(--light-error-0);
  --sys-color-error-10: var(--light-error-10);
  --sys-color-error-20: var(--light-error-20);
  --sys-color-error-30: var(--light-error-30);
  --sys-color-error-40: var(--light-error-40);
  --sys-color-error-50: var(--light-error-50);
  --sys-color-error-60: var(--light-error-60);
  --sys-color-error-70: var(--light-error-70);
  --sys-color-error-80: var(--light-error-80);
  --sys-color-error-90: var(--light-error-90);
  --sys-color-error-95: var(--light-error-95);
  --sys-color-error-99: var(--light-error-99);
  --sys-color-error-100: var(--light-error-100);
  --sys-color-error: var(--light-error-40);
  --sys-color-on-error: var(--light-error-100);
  --sys-color-error-container: var(--light-error-90);
  --sys-color-on-error-container: var(--light-error-10);

  --sys-color-success-0: var(--light-success-0);
  --sys-color-success-10: var(--light-success-10);
  --sys-color-success-20: var(--light-success-20);
  --sys-color-success-30: var(--light-success-30);
  --sys-color-success-40: var(--light-success-40);
  --sys-color-success-50: var(--light-success-50);
  --sys-color-success-60: var(--light-success-60);
  --sys-color-success-70: var(--light-success-70);
  --sys-color-success-80: var(--light-success-80);
  --sys-color-success-90: var(--light-success-90);
  --sys-color-success-95: var(--light-success-95);
  --sys-color-success-99: var(--light-success-99);
  --sys-color-success-100: var(--light-success-100);
  --sys-color-success: var(--light-success-70);
  --sys-color-on-success: var(--light-success-100);
  --sys-color-success-container: var(--light-success-95);
  --sys-color-on-success-container: var(--light-success-60);

  --sys-color-neutral-0: var(--light-neutral-0);
  --sys-color-neutral-10: var(--light-neutral-10);
  --sys-color-neutral-20: var(--light-neutral-20);
  --sys-color-neutral-30: var(--light-neutral-30);
  --sys-color-neutral-40: var(--light-neutral-40);
  --sys-color-neutral-50: var(--light-neutral-50);
  --sys-color-neutral-60: var(--light-neutral-60);
  --sys-color-neutral-70: var(--light-neutral-70);
  --sys-color-neutral-80: var(--light-neutral-80);
  --sys-color-neutral-90: var(--light-neutral-90);
  --sys-color-neutral-95: var(--light-neutral-95);
  --sys-color-neutral-99: var(--light-neutral-99);
  --sys-color-neutral-100: var(--light-neutral-100);

  --sys-color-neutral-variant-0: var(--light-neutral-variant-0);
  --sys-color-neutral-variant-10: var(--light-neutral-variant-10);
  --sys-color-neutral-variant-20: var(--light-neutral-variant-20);
  --sys-color-neutral-variant-30: var(--light-neutral-variant-30);
  --sys-color-neutral-variant-40: var(--light-neutral-variant-40);
  --sys-color-neutral-variant-50: var(--light-neutral-variant-50);
  --sys-color-neutral-variant-60: var(--light-neutral-variant-60);
  --sys-color-neutral-variant-70: var(--light-neutral-variant-70);
  --sys-color-neutral-variant-80: var(--light-neutral-variant-80);
  --sys-color-neutral-variant-90: var(--light-neutral-variant-90);
  --sys-color-neutral-variant-95: var(--light-neutral-variant-95);
  --sys-color-neutral-variant-99: var(--light-neutral-variant-99);
  --sys-color-neutral-variant-100: var(--light-neutral-variant-100);

  --sys-color-surface-dim: var(--light-surface-dim);
  --sys-color-surface: var(--light-surface);
  --sys-color-surface-bright: var(--light-surface-bright);
  --sys-color-surface-container-lowest: var(--light-surface-container-lowest);
  --sys-color-surface-container-low: var(--light-surface-container-low);
  --sys-color-surface-container: var(--light-surface-container);
  --sys-color-surface-container-high: var(--light-surface-container-high);
  --sys-color-surface-container-highest: var(
    --light-surface-container-highest
  );

  --sys-color-on-surface: var(--light-neutral-10);
  --sys-color-on-surface-variant: var(--light-neutral-variant-30);

  --sys-color-inverse-surface: var(--light-neutral-20);
  --sys-color-inverse-on-surface: var(--light-neutral-95);
  --sys-color-inverse-primary: var(--light-primary-90);

  --sys-color-outline: var(--light-neutral-60);
  --sys-color-outline-variant: var(--light-neutral-variant-80);
}
