:root {
  --button-height: 2.75rem;
  --button-height-large: 3rem;
  --button-height-small: 2.5rem;

  --button-font-size: 1.125rem;
  --button-font-size-large: 1.125rem;
  --button-font-size-small: 1rem;

  --button-padding-vertical: 0.625rem;
  --button-padding-vertical-large: 0.75rem;
  --button-padding-vertical-small: 0.5625rem;

  --button-padding-horizontal: 2rem;
  --button-padding-horizontal-large: 2rem;
  --button-padding-horizontal-small: 1.5rem;

  --button-border-radius-round: 100px;

  --button-circle-size: 3rem;
  --button-circle-font-size: 1.25rem;
  --button-circle-padding-vertical: 0.75rem;
  --button-circle-padding-horizontal: 0.75rem;
}
