:root {
  --tag-font-size: 1rem;

  --tag-border-radius: 8px;

  --tag-height: 2.375rem;

  --tag-padding-vertical: 0.5313rem;
  --tag-padding-horizontal: 0.75rem;

  --tag-icon-size: 1.375rem;
  --tag-icon-padding-vertical: 0.125rem;
  --tag-icon-padding-horizontal: 0.125rem;

  --tag-close-gap: 0.25rem;

  --tag-svg-height: 1.125rem;
  --tag-svg-width: 1.125rem;
}
